
<span ng-repeat="value in $ctrl.values" style="display: flex; flex-direction: column; gap: 5px;">{{ value }}</span>

<span ng-repeat="virtualValue in $ctrl.virtualValues" style="display: flex; flex-direction: row; gap: 5px; align-items: center;">
    {{ virtualValue.path }}
    <select ng-change="$ctrl.expandVirtualValue(virtualValue, _); _=null" ng-model="_" ng-options="f as f.label group by f.db_type for f in virtualValue.options">
      <option value="" disabled selected hidden>{{::'Add value' | translate}}</option>
    </select>
</span>

<select class="form-control" ng-change="$ctrl.addValue(_); _=null" ng-model="_" ng-options="f as f.label group by f.db_type for f in $ctrl.options">
  <option value="" disabled selected hidden>{{::'Add value' | translate}}</option>
</select>
